html, body{
   padding: 0;
   margin: 0;
}

body{
   line-height: 1.5;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
   box-sizing: border-box;
}

ul{
   list-style-type: none;
}

header{
   width: 100%;
   /* height: 70px; */
   /* font-size: 25px; */
   /* align-items: center; */
   padding: 5px 10px;
   position: sticky;
   top:0;
   left: 0;
   background-color: rgb(213, 90, 23);
   text-transform: capitalize;
}
ul li{
   padding: 10px 10px;
   margin : 0 10px;
}
ul.nav{
   display: flex;
   background-color: beige;
   height: 40px;
   padding: 6px 10px;
   /* border-top: 10px; */
}
.main{
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
}
article{
   width: 70%;
}
aside {
   display:flex;
   flex-direction: column;
   padding-right: 30px;
   padding-top: 10px;
   /* border: solid red 1px; */

}
.post li{
   width: 200px;
   height: 50px;
   /* margin-left: 0; */
   padding-left: 10px;
   padding-top: 10px;
   border: 1px solid blanchedalmond;
   background-color: beige;
}
.box-header{
   padding-top: 0px;
   padding-left: 5px;
   color: white;
   background-color: rgb(237, 108, 15);
}

a{
   color: black;
   width: 100px;
   height: 60px;
   font-size: 18px;
   text-decoration: none;
   /* text-align: center; */

}
.post:hover {
   /* border-top: 3px; */
   color:rgb(214, 73, 22)
}
aside h3{
   width: 200px;
   height: 50px;
   margin-left: 40px;
   margin-bottom: 0;
   padding-left: 20px;
   padding-top: 10px;
   color:white;
   background-color: rgb(214,73,22);
}

@media (max-width:600px) {
   .main{
      flex-direction: column-reverse;
   }
   article {
      width: 95%;;
   }
   aside {
      width: 95%;
      margin: 0 auto;
   }
   ul.nav{
      flex-direction: column;
   }
}